<section class="l-content-fixed section">
  <header class="section-header">
	<h2 class="section-title">ログイン</h2>
    <p class="section-subtitle">login</p>
  </header>
  <div class="section-form">
    <%= form_with url: "/login", class: "form-simple" do |f|%>
    <%= f.label "メールアドレス",  class: "form-label"%>
    <%= f.text_field :email, class: "form-input"%>
    <%= f.label "パスワード", class: "form-label"%>
    <%= f.text_field :password, class: "form-input"%>
    <p class="form-btn-holder">
      <%= f.submit "ログイン", class: "btn", data: { disable_with: "送信中..." }%>
    </p>
    <% end %>
  </div>
</section>